.link {
    color: var(--secondary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.modal-wrapper {
    padding: 8px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    .title {
        color: var(--secondary);
        font-size: 2rem;
        font-weight: 700;
    }
    .content {
        margin: 8px 0 16px;
        display: flex;
        flex-direction: column;
    }
    .action {
        display: flex;
        justify-content: flex-end;
    }
}
