.wrapper {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-style: normal;
    padding: 4px;
    color: var(--text-color);
}
